@model _15_ExceptionDemo.Exceptions.KnowException

@{ 
    ViewData["Title"] = "Index";
}



<h1>Index</h1>
<div><label>Message:@Model.Message</label></div>
<div><label>ErrorCode:@Model.ErrorCode</label></div>

