<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IDBHelperConfig" value="DB.MySql,DB.MySql.MySqlHelper"/>
	</appSettings>
	<connectionStrings>
		<!--数据库连接字符串-->
		<add name="Customers" connectionString="Data Source=ElevenPC; Database=Customers; User ID=sa; Password=Password; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>